.cover {
    font-family: 'Inter', Arial, sans-serif;
    margin: 92px auto 0;
    
    
}



@media screen and (max-width: 768px) {
    .cover {
     margin-top: 90px;
     
   }
  }

@media screen and (max-width: 767px) {
    .cover {
     margin-top: 66px;
   }
  }